@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Smooth color transitions */
/* Only animate background + text colors */
html, body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* If you want for specific components */
.transition-colors {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Disable transitions until mounted */
html.transition-none, body.transition-none {
  transition: none !important;
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .mask-gradient {
    mask-image: linear-gradient(to-right, transparent, black 30%, black 70%, transparent);
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }
  .dark-keystroke-inset-shadow {
    box-shadow: inset 1px 1px 5px rgba(255,255,255,0.08), inset -1px -1px 5px rgba(255,255,255,0.08);
  }
  .keystroke-inset-shadow {
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.08), inset -1px -1px 5px rgba(0,0,0,0.08);
  }
}


.btn-inset {
  box-shadow: inset 0 2px 12px rgba(255,255,255,0.08), inset 0 2px 8px rgba(255,255,255,0.08);
}

@media (prefers-color-scheme: dark) {
  .dark-keystroke-inset-shadow {
    box-shadow: inset 1px 1px 5px rgba(255,255,255,0.08), inset -1px -1px 5px rgba(255,255,255,0.08);
  }
  .testimonial-card-inset-shadow {
    box-shadow: inset 1px 1px 5px rgba(255,255,255,0.02), inset -1px -1px 5px rgba(255,255,255,0.02);
  }
  .button-inset-shadow {
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.2), inset -1px -1px 5px rgba(0,0,0,0.2);
  }
  .about-bio-inset-shadow {
    box-shadow: inset 2px 2px 8px rgba(0,0,0,0.3), inset -2px -2px 8px rgba(0,0,0,0.3);
  }
  .testimonial-card-shadow {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.05), -1px -1px 5px rgba(0,0,0,0.05);
  }
  .keystroke-inset-shadow {
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.08), inset -1px -1px 5px rgba(0,0,0,0.08);
  }
  .page-shadow{
    box-shadow: 2px 0px 5px rgba(0,0,0,0.2), -2px 0px 5px rgba(0,0,0,0.2);
  }
  .page-shadow-white{
    box-shadow: 2px 0px 5px rgba(0,0,0,1), -2px 0px 5px rgba(255,255,255,0.2);
  }
}


@keyframes scrollX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scrollX {
  animation: scrollX 40s linear infinite;
}






